/* Reset styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212; /* Dark background color */
    color: #fff; /* Light text color */
    margin: 0; /* Supprime les marges par défaut du corps */
    padding: 0; /* Supprime les marges internes par défaut du corps */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}

.container {
    width: 90%;
    margin: auto; /* Pour centrer horizontalement */
    padding: 20px;
    background-color: #1e1e1e; /* White background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

#container{
    height: 90%;
}

.note-data{
    border-top: 2px solid #2d2d2d;
    padding-top: 0px;
    margin-bottom: 500px;
    overflow-y: auto;
    max-height: calc(100vh - 300px);
}

ul {
    border-top: 2px solid #2d2d2d;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
    max-height: calc(100vh - 180px);
    height: 90%;
}

h1 {
    margin-top: 0; /* Enlève l'espace entre le haut du conteneur et le titre h1 */
    margin-bottom: 20px; /* Augmente l'espace en bas du titre h1 */
    font-size: 32px;
}
    
/* Form styles */
form {
    margin-top: 20px;
}

/* Styles pour le libellé */
label {
    display: block; /* Afficher sur une ligne différente */
    margin-bottom: 5px; /* Marge en bas */
    font-size: 20px;
}

/* Input styles */
input[type="text"] {
    font-weight: bold;
    width: 20%;
    padding: 8px;
    border: none;
    border: 1px solid #ccc; /* Golden border color */
    background-color: #fff; /* Transparent background */
    border-radius: 5px; /* No border radius */
    font-size: 16px;
    color: #333; /* Dark text color */
    transition: border-bottom-color 0.3s ease; /* Smooth transition for border color */
}

/* Styles pour le champ de texte multi-lignes */
textarea {
    width: 100%; /* Largeur du champ */
    height: 40vh; /* Hauteur du champ */
    box-sizing: border-box;
    padding: 10px; /* Espacement intérieur */
    border: 1px solid #ccc; /* Bordure légère */
    border-radius: 5px; /* Bordure arrondie */
    resize: vertical; /* Autoriser le redimensionnement vertical */
    font-size: 14px;
}

.list-title{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.list-title p{
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #e6ac00; /* Darker golden color on hover */
}

.note-info {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 20px;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.note-info h2, .note-data{
    padding-top: 5px;
    margin-bottom: 10px;
}

.note-info p, .note-creation-date, .note-last-update{
    margin: 0;
    padding-bottom: 5px;
}

.note-info-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Link styles */
.button {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 5px 10px;
    background-color: #ffd700; /* Golden color */
    color: #333; /* Dark text color */
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
}

.button:hover {
    background-color: #e6ac00; /* Darker golden color on hover */
}

.link-button[value] {
    font-family: inherit; /* Utilise la même police que le parent */
    font-size: inherit; /* Utilise la même taille de police que le parent */
}

input[type="submit"]:hover {
    background-color: #e6ac00; /* Darker golden color on hover */
}

.cancel-button, .delete-button, .back-button{
    background-color: #ccc;
}

.cancel-button:hover, .delete-button:hover, .back-button:hover{
    background-color: #a0a0a0;
}