{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Notes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}" id="theme-style">
</head>
<body>
    <div class="container" id="container">
        <div class="list-title">
            <h1>List of Notes</h1>
            <p>Number of notes: {{ object_list|length }}</p>
        </div>
        <ul>
            {% for note in object_list %}
            <li>
                <div class="note">
                    <a class="note-info" href="{% url 'note_detail' note.pk %}">                    
                        <h2>{{ note.title }}</h2>
                        <p class="note-info-created">{{ note.created_at }}</p>
                        <p class="note-info-content">{{ note.content }}</p>
                    </a>
                </div>
            </li>
            {% empty %}
            <li>No notes are available at the moment.</li>
            {% endfor %}
        </ul>
        <a class="button link-button new-note-button" href="{% url 'note_create' %}">New Note</a>
    </div>
</body>
</html>
