<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Notes</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>List of Notes</h1>
    <ul>
        {% for note in object_list %}
            <li><a href="{% url 'note_detail' note.pk %}">{{ note.title }}</a></li>
        {% empty %}
            <li>No notes are available at the moment.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'note_create' %}">Add a New Note</a>
</body>
</html>
